
.content.c-youtube__box{
	max-width: 800px!important;
	margin-left: auto;
	margin-right: auto;	
}
.c-youtube__wrap {
    aspect-ratio: 16/9;
		margin-bottom: 2.5rem;

		@media screen and (min-width: 769px){
			margin-bottom: 4rem;	
		}
}

.c-button-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1.75rem;
	padding-bottom: 3rem;
	
	&--top {
		margin-left: auto;
		margin-right: auto;
		width: 94%;
		max-width: 450px;
		display: block;
		filter: drop-shadow(3px 3px 2px rgba(0,0,0,1));
	}
	&--min {
		padding: 0 2.5rem 5rem;
		row-gap: 2.5rem;
	}
	@media (min-width: 769px){
		display: flex;
		justify-content: space-around;
		padding-top: 4rem;
		padding-bottom: 8rem;
		gap: 2rem;
		&--min {
			padding: 7rem 0 0;
			margin-bottom: 9rem;
			column-gap: 2rem;
		}

		&--last {
			width: 98%;
			margin-left: auto;
			margin-right: auto;
			padding: 8.5rem 0 10rem;
		}
	}
}

.c-button__shadow {
	filter: drop-shadow(3px 3px 2px rgba(0,0,0,1));
	@media screen and (min-width: 769px){
		filter: drop-shadow(5px 5px 4px rgba(0,0,0,1));
		
	}
}

.c-video-section{
  content: "";
  display: block;
  width: 100%;
  background: url(../images/pics.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 4rem 0rem;
	.btn{
    width: 62rem;
    margin:3rem auto 2rem;
	}

	@media (max-width: 768px){
		.video-section{
			background: url(../images/pics_sp.jpg) top center repeat-x;
			padding: 2rem 0 4rem;
		 background-size: cover;
			background-attachment: scroll;
			.btn{
				width: 99%;
				margin:2rem auto 1rem;
			}
		}
	}
}
