.l-header{
  background: url(../images/mv-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 0rem 0;
  position: relative;
	overflow: hidden;
}
.header-content{
  width: 104vw;
	max-width: 2500px;
  padding: 0;
	margin: 0 -2vw 0;
	&.hero {
		width: 112vw;
		margin: 0 -6vw 0;
		max-width: 2500px;
	}
}
header h1 img{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 768px){
	header{
		background: url(../images/header-bg_sp.jpg) center center no-repeat;
	 background-size: cover;
		background-attachment: scroll;
		padding: 18rem 0 2rem;
	}
	.header-content{
		width: 100%;
		max-width: 1240px;
		padding: 0px 40px 0;
		margin: 0 auto;
	}
	header img.logo{
		width: 14.6rem;
		left: 2rem;
		top: 2rem;
	}
	header h1 img{
		width: 100%;
	}
}
@media screen and (min-width:2000px) {
	.header-content{
			width: 100vw;
			margin: 0 auto;
		&.hero {
			width: 100vw;
			margin: 0 auto 0;
		}
	}
}


/* ============================================
footer
 ============================================ */
.l-footer{
	font-family: 'Noto Serif JP', serif;
	background-color: #0EA456;
	color: #fff;
	margin-top: 0px;
	padding: 4rem 0;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	margin-top: 8rem;
	font-size: 1.4rem;
	letter-spacing: .1em;

	@media (max-width: 768px){
		padding: 4rem 0rem;
		font-size: 1rem;
		margin-top: 4rem;
	}
}


/* ============================================
	box
============================================ */
.l-box {
	&__bg-green {
		background: url(../images/bg_green-stripe_yoko.png) top center no-repeat;
		padding: 2rem 0 2rem;
		background-size: cover;
		background-attachment: scroll;

		@media screen and (min-width:769px) {
			content: "";
			display: block;
			width: 100%;
			background: url(../images/bg_green-stripe.jpg) center center no-repeat;
			background-attachment: fixed;
			background-size: cover;
			padding: 3.6rem 0 5rem;
		}
	}
	&__youtube {
		.ttl {
			width: 80%;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 3rem;
			display: block;
			@media screen and (min-width:769px) {
				margin-bottom: 3rem;
			}
		}

		.button {
			margin-bottom: 5rem;
		}

		.content {
			max-width: calc(800px + 9.08%);
		}
		@media screen and (min-width: 769px){
			.button {
				margin-bottom: 7rem;
			}
		}
	}
}

// section
.section .content,
.guest .content {
	// padding: 2.5rem 0;
	filter: drop-shadow(2px 2px 1px rgba(0,0,0,.5));
	@media screen and (min-width: 769px){
		padding: 2.5rem 20px;
		filter: drop-shadow(3px 3px 3px rgba(0,0,0,.35));
	}
}

.section h2 img {
	margin-bottom: 6rem;
}
.section .box-1{
	background-color: #fff;
	padding: 7rem 0 9rem;
	position: relative;
}
.section .box-1 .inner {
	padding: 0 10rem;
}

// SP用!!
@media (max-width: 768px) {
	.section {
		.box-1 {
			padding-top: 3rem;
			padding-bottom: 3rem;
			.inner {
				padding: 0 7.1%;
			}
		}
	}
}

.section .box-1 img.image {
	margin: 5rem 0;
}

/* ============================================
section 1
 ============================================ */
.section-1 {
  // background: url(../images/star.jpg) center center no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
	padding: 4rem 0rem;
	font-size: 1.2rem;

	@media screen and (min-width:769px) {
		font-size: 20px;
	}

	&__list {
		font-size: 1.4rem;
		&:not(:last-child) {
			margin: 1rem 0 3.6rem;
		}

		@media screen and (min-width:769px) {
			font-size: 24px;
			&:not(:last-child) {
				margin: 2rem 0 6.4rem;
			}
		}
	}

	&__item {
		font-weight: bold;
		line-height: 1.75;
		text-indent: -1em;
		padding-left: 1em;
		letter-spacing: -0.05em;
		&:last-child {
			margin: 0;
		}
	}

	img {
		margin-bottom: .7rem;
		@media screen and (min-width:769px) {
			margin-bottom: 2.1rem;
		}
	}
}

/* ===================================
section 2
=================================== */
.section-2 {
  background: url(../images/bg_section2_sp.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 0rem;

	font-size: 1.4rem;

	&__ttl {
		max-width: 424px;
		display: block;
		margin: 46px auto 2.4rem;
		@media screen and (min-width:769px) {
			margin-top: 100px;
			margin-bottom: 3.5rem;			
		}
	}
	&__text {
		margin-bottom: 3.7rem;

		.mark {
			font-size: 2rem;
		}
	}

	@media screen and (min-width:769px) {
		background: url(../images/bg_section2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 13rem 0rem;	
		
		font-size: 2rem;
		
		&__text {
			margin-bottom: 3rem;
	
			.mark {
				font-size: 2.4rem;
				padding: 0 5rem;
			}
		}

		&__ttl {
      margin-bottom: 5.4rem;      
    }
	}
}


/* =============================
section 3
============================= */
.section-3 {
	.section-3__picture {
		margin-bottom: 2.7rem;
	}
	.box-1 {
		margin-bottom: 4rem;
	}
	@media screen and (min-width: 769px){
		.section-3__picture {
			margin-bottom: 4rem;
		}	
	}
}

@media (max-width: 768px) {
	.section-1{
		// background: url(../images/bg_green-stripe.jpg) top center no-repeat;
		// background-size: cover;
		// background-attachment: scroll;
		padding: 0rem 0 2rem;
	}
	
	.section-2{
		background: url(../images/bg_section2_sp.jpg) top center no-repeat;
		padding: 4rem 0 4rem;
		background-size: cover;
		background-attachment: scroll;
	}
}



/* =============================
section ticket
============================= */
.section-ticket {
	background-image: url(../images/bg_section-3__head.jpg) !important;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	background-color:#DDEB68;
	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: calc(310% / 375 * 100);
		padding: 4rem 0 6rem;
		.section-3 & {
			padding-top: 3rem;
			padding-bottom: 2rem;
		}
	}

	&__btn {
		display: flex;
		gap: 2rem;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;

		.section-3 & {
			width: 95%;
			gap: 1rem;
			margin-left: auto;
			margin-right: auto;
			@media screen and (min-width: 769px){
				width: 100%;
				gap: 2rem;
			}
		}
	}

	@media screen and (min-width: 769px){
		&__img {
			padding: 7rem 20px 6rem;
			// width: 100%;
			max-width: 800px;
			margin: 0 auto;
			.section-3 & {
				padding-top: 6rem;
			}
		}
		
	}
}

/* =============================
section 4
============================= */
.section-4 {
	.l-box {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -4rem;

		&__button {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			img {
				filter: drop-shadow(2px 2px 2px rgba(0,0,0,.5));
			}
		}

		a {
			display: block;
			// margin-bottom: 2rem;
		}
	}

	.section-ticket__img {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	&__button {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.6rem;
		img {
			filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
		}
	}

	.c-button-container {
		row-gap: 3.2rem;
		padding-bottom: 6rem;
	}

	@media screen and (min-width:769px) {
		.l-box {
			width: 100%;
			padding: 0 40px;
			margin-top: -2rem;
			max-width: 1240px;
		}
		&__button {
			display: block;
		}
		.c-button-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-bottom: 0;
			width: 97%;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 10rem;
			&.--section-4-top {
				padding-bottom: 5rem;
			}
		}
	}
}

@media screen and (min-width:769px) {
.section-4 .section-ticket__img {
	padding-bottom: 4rem;
}
}


/* =============================
speaker
============================= */
.l-speaker__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    column-gap: 12%;
		row-gap: 1.8rem;
		margin-bottom: 4.4rem;

    figure {
      margin-bottom: .5rem;
			grid-column: span 2;
			&:last-child {
				grid-column: 2 / span 2;
			}
    }
		
		figcaption {
			font-size: 1.4rem;
		}

		@media screen and (min-width: 769px){
			grid-template-columns: repeat(6, 1fr);
			column-gap: 8%;
			row-gap: 4rem;
			margin-bottom: 14rem;

			figure {
				grid-column: span 2;
				// &:nth-last-child(2) {
				// 	grid-column: 2/4;
				// }
				&:last-child {
					grid-column: 5 / span 2;
				}
			}
			figcaption {
				font-size: 2rem;
			}
		}
}

/* =============================
guest
============================= */
.guest {
	padding: 10rem 0;
	background: url(../images/bg_gray.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	@media screen and (max-width: 768px){
		padding: 4rem 0 6rem;
		background: url(../images/bg_gray_tate.jpg)  center center repeat-y;
		background-attachment: scroll;
		background-size: auto;
	}

p {
		font-size: 1.4rem;
		text-align:justify;
		letter-spacing: 0.05em;
		&:not(:last-child) {
			margin-bottom: 8rem;
		}

		@media screen and (min-width: 769px){
			font-size: 1.6rem;
			letter-spacing: .03em;
			line-height: 2;
			&:not(:last-child) {
				margin-bottom: 10rem;
			}
			
		}
	}
}
.guest .box-1{
background-color: #fff;
padding: 6rem 0 6rem;
position: relative;
}
.guest h2 img{
margin-bottom: 6rem;
}
.guest .box-1 .inner{
padding: 0 10rem;
}
.guest .box-1 img.image{
margin: 5rem 0;
}
.guest .btn{
	width: 62rem;
	margin:1rem auto 2rem;
}
.guest ul{
display: flex;
justify-content: space-between;
margin-bottom:2rem;
}
.guest ul li{
display: block;
width: 45%;
border-radius: 1rem;
padding-bottom: 0rem;
font-size: 2rem;
line-height: 1.5;
font-weight: 700;
text-align: center;
position: relative;
cursor: pointer;
}
.guest .name{
color:#000;
font-size:2.4rem;
font-weight: bold;
margin-bottom:2rem;
}
.guest .name span small{
font-size:1.2rem;
}
.guest .sub{
color:#555;
font-size:1.3rem;
margin-top:2rem;
}
.guest .profile{
font-size:1.5rem;
text-align: left;
font-weight: normal;
line-height: 1.8;
}

.guest {
	&__fig {
		margin-bottom: 2rem;
	@media screen and (min-width: 769px){
		margin-bottom: 3rem;
	}
	}
}

// SP用!!
@media screen and (max-width: 768px){
.guest .box-1{
	background-color: #fff;
	padding: 4rem 0 5rem;
	position: relative;
}
.guest h2 img{
margin-bottom: 1rem;
}
.guest .box-1 .inner{
padding: 0 7.1%;
}
.guest .box-1 img.image{
margin: 5rem 0;
}
.guest .btn{
	width: 95%;
	margin:1rem auto 0rem;
}

.guest ul{
display: flex;
justify-content: space-between;
margin-bottom:2rem;
}
.guest ul li{
display: block;
width: 48%;
border-radius: 1rem;
padding-bottom: 0rem;
font-size: 2rem;
line-height: 1.5;
font-weight: 700;
text-align: center;
position: relative;
cursor: pointer;
}
.guest .name{
color:#000;
font-size:1.6rem;
font-weight: bold;
margin-bottom:2rem;
}
.guest .sub{
color:#555;
font-size:0.8rem;
margin-top:2rem;
}

.guest .profile{
font-size:1.1rem;
text-align: left;
font-weight: normal;
line-height: 1.6;
}
}