@charset "UTF-8";
.color-green {
  color: #006F5D;
}

.color-light-green {
  color: #0EA456;
}

.center {
  text-align: center;
}

.note {
  font-size: 10px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 769px) {
  .note {
    font-size: 14px;
    margin-top: 1rem;
  }
}

.l-header {
  background: url(../images/mv-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 0rem 0;
  position: relative;
  overflow: hidden;
}

.header-content {
  width: 104vw;
  max-width: 2500px;
  padding: 0;
  margin: 0 -2vw 0;
}
.header-content.hero {
  width: 116vw;
  margin: 0 -8vw 0;
  max-width: 2500px;
}

header h1 img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header {
    background: url(../images/header-bg_sp.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 18rem 0 2rem;
  }
  .header-content {
    width: 100%;
    max-width: 1240px;
    padding: 0px 40px 0;
    margin: 0 auto;
  }
  header img.logo {
    width: 14.6rem;
    left: 2rem;
    top: 2rem;
  }
  header h1 img {
    width: 100%;
  }
}
@media screen and (min-width: 2000px) {
  .header-content {
    width: 100vw;
    margin: 0 auto;
  }
  .header-content.hero {
    width: 100vw;
    margin: 0 auto 0;
  }
}
/* ============================================
footer
 ============================================ */
.l-footer {
  font-family: "Noto Serif JP", serif;
  background-color: #0EA456;
  color: #fff;
  margin-top: 0px;
  padding: 4rem 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 8rem;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}
@media (max-width: 768px) {
  .l-footer {
    padding: 4rem 0rem;
    font-size: 1rem;
    margin-top: 4rem;
  }
}

/* ============================================
box
 ============================================ */
.l-box__bg-green {
  background: url(../images/bg_green-stripe_yoko.png) top center no-repeat;
  padding: 2rem 0 2rem;
  background-size: cover;
  background-attachment: scroll;
}
@media screen and (min-width: 769px) {
  .l-box__bg-green {
    content: "";
    display: block;
    width: 100%;
    background: url(../images/bg_green-stripe.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 3.6rem 0 5rem;
  }
}
.l-box__youtube .ttl {
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  display: block;
}
@media screen and (min-width: 769px) {
  .l-box__youtube .ttl {
    margin-bottom: 2rem;
  }
}
.l-box__youtube .button {
  margin-bottom: 5rem;
}
.l-box__youtube .content {
  max-width: calc(800px + 9.08%);
}
@media screen and (min-width: 769px) {
  .l-box__youtube .button {
    margin-bottom: 7rem;
  }
}

.section .content,
.guest .content {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}
@media screen and (min-width: 769px) {
  .section .content,
.guest .content {
    padding: 2.5rem 20px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.35));
  }
}

.section h2 img {
  margin-bottom: 6rem;
}

.section .box-1 {
  background-color: #fff;
  padding: 7rem 0 9rem;
  position: relative;
}

.section .box-1 .inner {
  padding: 0 10rem;
}

@media (max-width: 768px) {
  .section .box-1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .section .box-1 .inner {
    padding: 0 7.1%;
  }
}
.section .box-1 img.image {
  margin: 5rem 0;
}

/* ============================================
section 1
 ============================================ */
.section-1 {
  padding: 4rem 0rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 769px) {
  .section-1 {
    font-size: 20px;
  }
}
.section-1__list {
  font-size: 1.4rem;
}
.section-1__list:not(:last-child) {
  margin: 1rem 0 3.6rem;
}
@media screen and (min-width: 769px) {
  .section-1__list {
    font-size: 24px;
  }
  .section-1__list:not(:last-child) {
    margin: 2rem 0 6.4rem;
  }
}
.section-1__item {
  font-weight: bold;
  line-height: 2;
  text-indent: -1em;
  padding-left: 1em;
  letter-spacing: -0.05em;
}
.section-1__item:last-child {
  margin: 0;
}
.section-1 img {
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 769px) {
  .section-1 img {
    margin-bottom: 2.1rem;
  }
}

/* ===================================
section 2
=================================== */
.section-2 {
  background: url(../images/bg_section2_sp.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 0rem;
  font-size: 1.4rem;
}
.section-2__ttl {
  max-width: 424px;
  display: block;
  margin: 46px auto 2.4rem;
}
@media screen and (min-width: 769px) {
  .section-2__ttl {
    margin-top: 100px;
    margin-bottom: 3.5rem;
  }
}
.section-2__text {
  margin-bottom: 3.7rem;
}
.section-2__text .mark {
  font-size: 2rem;
}
@media screen and (min-width: 769px) {
  .section-2 {
    background: url(../images/bg_section2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 13rem 0rem;
    font-size: 2rem;
  }
  .section-2__text {
    margin-bottom: 3rem;
  }
  .section-2__text .mark {
    font-size: 2.4rem;
    padding: 0 5rem;
  }
  .section-2__ttl {
    margin-bottom: 5.4rem;
  }
}

/* =============================
section 3
============================= */
.section-3 .section-3__picture {
  margin-bottom: 2rem;
}
.section-3 .box-1 {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .section-1 {
    padding: 0rem 0 2rem;
  }
  .section-2 {
    background: url(../images/bg_section2_sp.jpg) top center no-repeat;
    padding: 4rem 0 4rem;
    background-size: cover;
    background-attachment: scroll;
  }
}
/* =============================
section ticket
============================= */
.section-ticket {
  background-image: url(../images/bg_section-3__head.jpg) !important;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #DDEB68;
}
.section-ticket__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 82.6666666667%;
  padding: 4rem 0 6rem;
}
.section-3 .section-ticket__img {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.section-ticket__btn {
  display: flex;
  gap: 2rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.section-3 .section-ticket__btn {
  width: 95%;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 769px) {
  .section-3 .section-ticket__btn {
    width: 100%;
    gap: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .section-ticket__img {
    padding: 7rem 20px 6rem;
    max-width: 800px;
    margin: 0 auto;
  }
  .section-3 .section-ticket__img {
    padding-top: 6rem;
  }
}

/* =============================
section 4
============================= */
.section-4 .l-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4rem;
}
.section-4 .l-box__button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-4 .l-box__button img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.section-4 .l-box a {
  display: block;
}
.section-4 .section-ticket__img {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.section-4__button {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
}
.section-4__button img {
  filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
}
.section-4 .c-button-container {
  row-gap: 3.2rem;
  padding-bottom: 6rem;
}
@media screen and (min-width: 769px) {
  .section-4 .l-box {
    width: 100%;
    padding: 0 40px;
    margin-top: -2rem;
    max-width: 1240px;
  }
  .section-4__button {
    display: block;
  }
  .section-4 .c-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7rem;
  }
}

@media screen and (min-width: 769px) {
  .section-4 .section-ticket__img {
    padding-bottom: 4rem;
  }
}
/* =============================
speaker
============================= */
.l-speaker__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  -moz-column-gap: 12%;
       column-gap: 12%;
  row-gap: 1.8rem;
  margin-bottom: 4.4rem;
}
.l-speaker__list figure {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 769px) {
  .l-speaker__list {
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 8%;
         column-gap: 8%;
    row-gap: 4rem;
    margin-bottom: 14rem;
  }
  .l-speaker__list figure {
    grid-column: span 2;
  }
  .l-speaker__list figure:nth-last-child(2) {
    grid-column: 2/4;
  }
}

/* =============================
guest
============================= */
.guest {
  padding: 10rem 0;
  background: url(../images/bg_gray.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .guest {
    padding: 4rem 0 6rem;
    background: url(../images/bg_gray_tate.jpg) center center repeat-y;
    background-attachment: scroll;
    background-size: auto;
  }
}
.guest p {
  font-size: 1.4rem;
  text-align: justify;
}
.guest p:not(:last-child) {
  margin-bottom: 8rem;
}
@media screen and (min-width: 769px) {
  .guest p {
    font-size: 1.6rem;
    letter-spacing: 0.48px;
    line-height: 2;
  }
  .guest p:not(:last-child) {
    margin-bottom: 10rem;
  }
}

.guest .box-1 {
  background-color: #fff;
  padding: 6rem 0 6rem;
  position: relative;
}

.guest h2 img {
  margin-bottom: 6rem;
}

.guest .box-1 .inner {
  padding: 0 10rem;
}

.guest .box-1 img.image {
  margin: 5rem 0;
}

.guest .btn {
  width: 62rem;
  margin: 1rem auto 2rem;
}

.guest ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.guest ul li {
  display: block;
  width: 45%;
  border-radius: 1rem;
  padding-bottom: 0rem;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.guest .name {
  color: #000;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.guest .name span small {
  font-size: 1.2rem;
}

.guest .sub {
  color: #555;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.guest .profile {
  font-size: 1.5rem;
  text-align: left;
  font-weight: normal;
  line-height: 1.8;
}

.guest__fig {
  margin-bottom: 2rem;
}
@media screen and (min-width: 769px) {
  .guest__fig {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .guest .box-1 {
    background-color: #fff;
    padding: 4rem 0 5rem;
    position: relative;
  }
  .guest h2 img {
    margin-bottom: 1rem;
  }
  .guest .box-1 .inner {
    padding: 0 7.1%;
  }
  .guest .box-1 img.image {
    margin: 5rem 0;
  }
  .guest .btn {
    width: 95%;
    margin: 1rem auto 0rem;
  }
  .guest ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .guest ul li {
    display: block;
    width: 48%;
    border-radius: 1rem;
    padding-bottom: 0rem;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  .guest .name {
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .guest .sub {
    color: #555;
    font-size: 0.8rem;
    margin-top: 2rem;
  }
  .guest .profile {
    font-size: 1.1rem;
    text-align: left;
    font-weight: normal;
    line-height: 1.6;
  }
}
.content.c-youtube__box {
  max-width: 800px !important;
  margin-left: auto;
  margin-right: auto;
}

.c-youtube__wrap {
  aspect-ratio: 16/9;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 769px) {
  .c-youtube__wrap {
    margin-bottom: 4rem;
  }
}

.c-button-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.75rem;
  padding-bottom: 3rem;
}
.c-button-container--top {
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  max-width: 450px;
  display: block;
  filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
}
.c-button-container--min {
  padding: 0 2.5rem 4rem;
  row-gap: 2.5rem;
}
@media (min-width: 769px) {
  .c-button-container {
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 8rem;
    gap: 2rem;
  }
  .c-button-container--min {
    padding: 7rem 0 0;
    margin-bottom: 9rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .c-button-container--last {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 8.5rem 0 10rem;
  }
}

.c-button__shadow {
  filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
}
@media screen and (min-width: 769px) {
  .c-button__shadow {
    filter: drop-shadow(5px 5px 4px rgb(0, 0, 0));
  }
}

.c-video-section {
  content: "";
  display: block;
  width: 100%;
  background: url(../images/pics.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 4rem 0rem;
}
.c-video-section .btn {
  width: 62rem;
  margin: 3rem auto 2rem;
}
@media (max-width: 768px) {
  .c-video-section .video-section {
    background: url(../images/pics_sp.jpg) top center repeat-x;
    padding: 2rem 0 4rem;
    background-size: cover;
    background-attachment: scroll;
  }
  .c-video-section .video-section .btn {
    width: 99%;
    margin: 2rem auto 1rem;
  }
}

.p-name__kana {
  display: block;
}

.p-overSize {
  width: calc(100% + 20rem);
  margin: 0 0 0 -10rem;
  margin-bottom: 74px;
}

.accbox li {
  display: block;
  background: #FFF5C9;
  margin-bottom: 1.2rem;
  position: relative;
}
.accbox li::before {
  content: "Q. ";
  font-size: 2rem;
  font-weight: 700;
  color: #006F5D;
  position: absolute;
  left: 1.8rem;
  top: 1.4rem;
}
.accbox .acctitle {
  font-weight: bold;
  font-size: 2.22rem;
  letter-spacing: 0.1em;
  padding: 2rem 6rem;
  position: relative;
  cursor: pointer;
  color: #006f5d;
  line-height: 1.7;
}
.accbox .acctitle::before, .accbox .acctitle::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0rem;
  background: #0C0F1A;
  position: absolute;
  right: 2.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.accbox .acctitle::after {
  transform: translateY(-50%) rotate(90deg);
  transition: 0.3s;
}
.accbox .acctitle.active::after {
  transform: translateY(-50%) translate(0);
}
.accbox .accshow {
  display: none;
  font-size: 1.6rem;
  margin: 0.75rem 0 2rem;
  padding: 2.4rem 6rem;
  background: #FFF;
  position: relative;
}
.accbox .accshow::before {
  content: "A. ";
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  left: 1.8rem;
  top: 2.4rem;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .accbox li {
    margin-bottom: 1.2rem;
  }
  .accbox li::before {
    font-size: 1.8rem;
    left: 1rem;
    top: 1.75rem;
  }
  .accbox .acctitle {
    padding: 1.2rem 3rem 1.2rem 3.5rem;
    font-size: 1.4rem;
  }
  .accbox .acctitle::before, .accbox .acctitle::after {
    width: 1.4rem;
    height: 0.3rem;
    right: 1rem;
  }
  .accbox .accshow {
    font-size: 1.2rem;
    padding: 1.6rem 3.3rem 1.6rem;
  }
  .accbox .accshow::before {
    top: 1.6rem;
    transform: translateY(0);
    font-size: 1.8rem;
    left: 1rem;
  }
}
.p-information__ttl {
  text-align: center;
  color: #006F5D;
  font-weight: bold;
  font-size: 1.8rem;
  position: relative;
  z-index: 0;
  background-image: url(../images/ttl_blur.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  line-height: 250px;
  width: 100%;
  margin: -50px 0 -65px;
}
@media screen and (min-width: 769px) {
  .p-information__ttl {
    font-size: 2.2rem;
    height: 300px;
    line-height: 300px;
    margin: 50px 0 0;
  }
}
.p-information__wrap .content {
  padding: 0;
}
.p-information__text {
  padding: 0 2.4%;
}
.p-information__def dd {
  margin-bottom: 1.1rem;
}
.p-information__def dd:last-child {
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .p-information__text {
    padding: 0 10%;
  }
}
@media screen and (min-width: 769px) {
  .p-information__wrap .content {
    max-width: 100%;
    background-color: #F2F2F2;
  }
  .p-information__wrap .inner {
    max-width: 1040px;
    padding: 0 20px 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .p-information__wrap iframe {
    height: 100%;
  }
  .p-information__text {
    padding: 4rem 0 4rem;
  }
}

@media (max-width: 1100px) and (min-width: 769px) {
  .p-information__wrap .inner {
    padding: 0 0 0 4.54%;
  }
}
@media screen and (min-width: 1041px) {
  .p-information__wrap .inner {
    grid-template-columns: 1fr 50vw;
    padding: 0;
    max-width: 100%;
    margin-left: calc((100% - 1000px) / 2);
  }
}

.p-non-full__sp {
  width: 92%;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  .p-non-full__sp {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-half {
  margin-bottom: 0.5rem !important;
}

@media screen and (min-width: 769px) {
  .u-mb7__pc {
    margin-bottom: 7rem;
  }
}

.u-mb4__pc {
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 769px) {
  .u-mb4__pc {
    margin-bottom: 4rem;
  }
}

header,
footer,
div,
section,
article,
nav,
a,
p,
span,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
img,
dl,
dt,
dd,
form,
input,
textarea {
  box-sizing: border-box;
}

::-moz-selection {
  background: #ddd;
}

::selection {
  background: #ddd;
}

::-moz-selection {
  background: #ddd;
}

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  background-color: #fff;
  line-height: 1.9;
  font-feature-settings: "palt";
}

.serif {
  font-family: "Noto Serif JP", serif;
}

h2 {
  font-size: 3rem;
  margin: 6rem 0 2rem;
  font-weight: 700;
}

.btn_0 {
  background-color: transparent;
  cursor: pointer;
  padding: 0 0 0 1.5rem;
  width: 60rem;
}

.button {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0 0 1.5rem;
  text-decoration: none;
}

.button img {
  width: 95%;
  height: auto;
}

.infomation {
  background: #fff;
  padding: 0 0 5rem;
  position: relative;
  color: #000;
  font-size: 1.6rem;
}

.infomation h2 img {
  width: 72.8rem;
  margin: 0 auto 5rem;
}

.infomation ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.infomation ul li {
  display: block;
  width: 33%;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  position: relative;
  /* cursor: pointer; */
}

.infomation .name {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.infomation .name span {
  font-size: 2rem;
}

.infomation .name span small {
  font-size: 1.2rem;
}

.infomation .sub {
  color: #555;
  font-size: 1.8rem;
  margin-top: 0rem;
}

a,
a img {
  color: #777;
  transition: 0.3s;
  text-decoration: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

a:hover,
a:hover img {
  opacity: 0.7;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.mark {
  background: #fff000;
}

small {
  font-size: 85%;
  line-height: 0.1;
}

strong {
  font-size: 130%;
}

.box {
  background: #f7f7f7;
  padding: 2rem;
  margin: 3rem 0;
  border: 1px solid #f2f2f2;
}

/*　PC */
@media (min-width: 769px) {
  .sp {
    display: none !important;
  }
  html {
    font-size: 10px;
  }
  body {
    font-size: 1.7em;
  }
  .content {
    width: 100%;
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 0.9vw;
  }
  .content {
    padding: 0 4.54%;
  }
}
/*　SP */
@media (max-width: 768px) {
  .pc {
    display: none !important;
  }
  html {
    font-size: 2.6vw;
  }
  body {
    font-size: 1.5em;
    line-height: 1.8;
  }
  .content {
    width: 100%;
    padding: 0 3.4%;
  }
  strong {
    font-size: 120%;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.7rem;
    margin: 3rem 0 2rem;
    font-weight: 700;
  }
  .box {
    background: #f7f7f7;
    padding: 1.5rem;
    margin: 1rem 0;
    border: 4px solid #f2f2f2;
    line-height: 1.5;
  }
  .button {
    display: inline-block; /* デフォルトのaタグの表示を変更 */
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 0 0 1.5rem;
    text-decoration: none; /* リンクの下線を消去 */
  }
  .button img {
    width: 95%; /* 画像の幅を設定します */
    height: auto; /* 画像の高さを自動調整します */
  }
  .cta {
    background: url(../images/cta-bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 3rem 0 2rem;
  }
  .cta h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .cta p {
    font-size: 1.4rem;
    text-align: left;
  }
  .cta h2::before,
.cta h2::after {
    width: 2.8rem;
    height: 2.4rem;
    top: 1.1em;
  }
  .cta h2::before {
    left: -4.2rem;
  }
  .cta h2::after {
    right: -4.2rem;
  }
  .cta input[type=text] {
    width: 100%;
    line-height: 6rem;
    font-size: 1.5rem;
    margin: 1.5rem auto 1rem;
  }
  /* =================================
  information
  ================================= */
  .infomation {
    padding: 0 0 1rem;
    font-size: 1.3rem;
  }
  .infomation ul {
    display: block;
  }
  .infomation ul li {
    display: inline-block;
    vertical-align: top;
    width: 49.2%;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  .infomation ul li img.image {
    margin-bottom: 1.5rem;
  }
  .infomation .name {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .infomation .name span {
    font-size: 2rem;
  }
  .infomation .name span small {
    font-size: 1.2rem;
  }
  .infomation .sub {
    color: #555;
    font-size: 1.2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
/*# sourceMappingURL=style.css.map */